<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <application>
    <receiver android:name=".MotionActionReceiver" android:exported="false" />

    <!-- nmw_widgets_enabled is true only in values-v31: the widget needs API 31 RemoteViews APIs. -->
    <receiver
      android:name=".money.MoneyWidgetProvider"
      android:enabled="@bool/nmw_widgets_enabled"
      android:exported="false"
      android:label="@string/nmw_widget_label">
      <intent-filter>
        <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
      </intent-filter>
      <meta-data
        android:name="android.appwidget.provider"
        android:resource="@xml/nmw_money_widget_info" />
    </receiver>

    <receiver
      android:name=".money.MoneyWidgetSyncReceiver"
      android:enabled="@bool/nmw_widgets_enabled"
      android:exported="false">
      <intent-filter>
        <action android:name="android.intent.action.TIME_SET" />
        <action android:name="android.intent.action.TIMEZONE_CHANGED" />
      </intent-filter>
    </receiver>

    <activity
      android:name=".money.MoneyWidgetConfigureActivity"
      android:enabled="@bool/nmw_widgets_enabled"
      android:excludeFromRecents="true"
      android:exported="true"
      android:noHistory="true"
      android:theme="@android:style/Theme.Translucent.NoTitleBar">
      <intent-filter>
        <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
      </intent-filter>
    </activity>
  </application>
</manifest>
