@import "tailwindcss";
@import "uniwind";

@theme {
    --font-sans: "Archivo";
    --color-accent: #58ad85;
}

@layer theme {
    :root {
        @variant light {
            --color-canvas: #f0f7f3;
            --color-row: #e5ece8;
            --color-active: #d8eae0;
            --color-track: #cad5cf;
            --color-ink: #131c17;
            --color-muted: #36433c;
            --color-accent-deep: #28664a;
            --color-danger: #a33a26;
        }

        @variant dark {
            --color-canvas: #141816;
            --color-row: #292d2b;
            --color-active: #263f32;
            --color-track: #59615c;
            --color-ink: #ebf0ed;
            --color-muted: #9aa7a0;
            --color-accent-deep: #8cc4a7;
            --color-danger: #f08a7a;
        }
    }
}
